- content_for :meta_description, 'This is the meta_description'
- content_for :meta_keywords, 'This is the meta_keywords'
- content_for :breadcrumb do
  %div
    %ul.breadcrumb
      %li
        = link_to managers_root_path, class: 'ajax-link' do 
          %i.glyphicon.glyphicon-chevron-right
          %span Dashboard
      -#%li
        %a{:href => "#"} Dashboard
.row
  .box.col-md-12
.row
  .box.col-md-12
    .box-inner
      .box-header.well{"data-original-title" => ""}
        %h2
          %i.glyphicon.glyphicon-star-empty
          Blank
      .box-content
