- content_for :meta_description, 'this is the meta_description'
- content_for :meta_keywords, 'this is the meta_keywords'
- content_for :breadcrumb do
  %div
    %ul.breadcrumb
      %li
        = link_to managers_root_path do 
          %i.glyphicon.glyphicon-chevron-right
          %span Dashboard
      %li
        = link_to managers_accounts_path do 
          %i.glyphicon.glyphicon-home
          %span Accounts
      %li
        = link_to "Edit", '#'
= render 'form'


